 /* Carousel image sizes */
        #hobbyCarousel .carousel-item img {
            width: 100%; 
            height: 500px;
            object-fit: cover;
        }

.background {
      background: url('https://img.freepik.com/premium-photo/abstract-blurred-new-hospital-with-abstract-lights-medical-clinic-backdrop_87555-17910.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702512000&semt=ais') no-repeat center center fixed;
      background-size: cover;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
}

.content {
    max-width: 600px;
    padding: 20px; 
    border-radius: 10px; 
    color: blue;
  }

  .about {
    padding-bottom: 20px;
  }
